.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #343f4f;
  overflow: hidden;
}

.heroContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.wrapper {
  display: flex;
  width: 100%;
}

.name {
  color: #d1d7e0;
  font-size: 80px;
  font-weight: 500;
}

.name span {
  color: #802bb1;
}

.wrapper .static-txt {
  color: #d1d7e0;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: #802bb1;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 6s steps(2) infinite;
}
@keyframes slide {
  100% {
    top: -180px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #343f4f;
  border-left: 2px solid #802bb1;
  animation: typing 3s steps(18) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 10px);
  }
  100% {
    left: 0;
  }
}

@media (max-width: 900px) {
  .name {
    font-size: 60px;
  }
}

@media (max-width: 700px) {
  .name {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .name {
    font-size: 30px;
  }
}

@media (max-width: 1200px) {
  .wrapper .static-txt {
    color: #d1d7e0;
    font-size: 30px;
    height: 45px;
    line-height: 45px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts {
    margin-left: 7.5px;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
  }
  .dynamic-txts li {
    list-style: none;
    color: #802bb1;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 6s steps(2) infinite;
  }
  @keyframes slide {
    100% {
      top: -90px;
    }
  }
  .dynamic-txts li span {
    position: relative;
    margin: 2.5px 0;
    line-height: 45px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .wrapper .dynamic-txts {
    margin-left: 0px;
  }
}
@media (max-width: 450px) {
  
 }